.productImg {
    aspect-ratio: auto;
}

.productCard {
    display: flex;
    flex-direction: column;
    height: fit-content;   
    box-shadow: 10px 5px 5px lightgrey;
    border-radius: 16px;
    margin: 20px;
    padding: 20px;
    width: 180px;
}

.addToCartButton {
    font-size: 16px;
}

.productPage {
    display: flex;
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 200px;
}